<?xml version="1.0" encoding="UTF-8" ?>
<Optilog>
    <Print>
        <info>true</info>
        <Error>true</Error>
        <Warn>true</Warn>
        <debug>true</debug>
        <Fatal>true</Fatal>
    </Print>

    <Console>
        <defaultConsolePath>
            D:\\Program\\Project\\resources\\app\\Git\\Projects\\Optilog-Client\\src\\test\\resources\\logs
        </defaultConsolePath>
        <fileName>%timeLog.log</fileName>

        <info>true</info>
        <Error>true</Error>
        <Warn>true</Warn>
        <debug>true</debug>
        <Fatal>true</Fatal>
    </Console>

    <Server>
        <info>true</info>
        <Error>true</Error>
        <Warn>true</Warn>
        <debug>true</debug>
        <Fatal>true</Fatal>

        <startClient>true</startClient>
        <socketNumber>65535</socketNumber>
        <host>localhost</host>
    </Server>

    <packingFormat>[%yyyy-%MM-%dd|%HH:%mm:%ss(%SS))][%class %method(%file:%line)/%thread] %level:%msg</packingFormat>
</Optilog>
